{% extends "base.html" %}

{% block title %}Accounts{% endblock %}
{% load static %}
{% block content %}

<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="{% url "landing_page" %}">
      <img src="{% static 'images/tuke_logo.png' %}" alt="Logo" class="logo-img">
      Internet banking of Economic faculty TUKE
    </a>
      <div class="d-flex justify-content-between">
      <div class="profile p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-person-check" viewBox="0 0 16 16">
                  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                  <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                </svg>
                <span class="text-white profile-name mr-2">{{ user.get_full_name }}</span>
            </div>
      <a class="btn btn-danger" aria-current="page" href="{% url "logout" %}">Logout</a>
      </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card-deck">
        {% for account in accounts %}
        <div class="card bg-primary text-white h-100 mt-5 mb-4">
          <a href="{% url 'account_detail' account.slug %}" class="btn btn-primary stretched-link">
            <div class="card-body">
                <h3 class="card-title text-nowrap">{{ account.name }}</h3>
              <h5 class="card-title text-nowrap">{{ account.iban }}</h5>
              <p class="card-text">Available balance: {{ account.balance|floatformat:2 }} EUR</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
