{% extends "base.html" %}

{% block title %}Kontá{% endblock %}

{% block content %}
<div class="bg-dark py-3">
    <h4 class="mb-0 text-white text-center">Vyber si svoj bankový účet</h4>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card-deck">
        {% for account in accounts %}
        <div class="card bg-primary text-white h-100 mt-5 mb-4">
          <a href="{% url 'account_detail' account.slug %}" class="btn btn-primary stretched-link">
            <div class="card-body">
              <h5 class="card-title text-nowrap">{{ account.iban }}</h5>
              <p class="card-text">Účtovný zostatok: {{ account.balance|floatformat:2 }} EUR</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
