{% extends "base.html" %}

{% block content %}
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ account.iban }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Balance: {{ account.balance }}</h6>
        </div>
      </div>
    </div>
  </div>

<form method="GET">
  <div class="row mb-3">
    <div class="col">
      <label for="date_from" class="form-label">From:</label>
      <input type="date" name="date_from" id="date_from" value="{{ from_date }}" class="form-control">
    </div>
    <div class="col">
      <label for="date_to" class="form-label">To:</label>
      <input type="date" name="date_to" id="date_to" value="{{ to_date }}" class="form-control">
    </div>
    <div class="col">
      <label for="beneficiary" class="form-label">Beneficiary:</label>
      <select name="beneficiary" id="beneficiary" class="form-select">
        <option value="">All Beneficiaries</option>
         {% for account in accounts %}
    <option value="{{ account.pk }}" {% if account.pk == selected_beneficiary %}selected{% endif %}>{{ account }}</option>
  {% endfor %}
      </select>
    </div>
    <div class="col-auto align-self-end">
      <button type="submit" class="btn btn-primary">Filter</button>
    </div>
  </div>
</form>


  <div class="row mt-4">
    <div class="col">
      <h2>Transactions</h2>
      <ul class="list-group">
        {% for transaction in transactions %}
        <li class="list-group-item
            {% if transaction.payer == account %}bg-danger text-white
            {% elif transaction.beneficiary == account %}bg-success text-white{% endif %}">
          <div class="row align-items-center">
            <div class="col-6">
              <h5 class="mb-0">{{ transaction.created }}</h5>
            {% if transaction.beneficiary == account %}
              <p class="mb-0">{{ transaction.payer.iban }}</p>
            {% elif transaction.payer == account %}
                <p class="mb-0">{{ transaction.beneficiary.iban }}</p>
            {% endif %}
            </div>
            <div class="col-6 text-end">
              <h5 class="mb-0">{% if transaction.payer == account %}-{{ transaction.amount }}{% else %}{{ transaction.amount }}{% endif %} €</h5>
              {% if transaction.payer == account %}
              <p class="mb-0 text-white">You paid</p>
                {% elif transaction.beneficiary == account %}
                    <p class="mb-0 text-white">You received</p>
                {% endif %}
            </div>
          </div>
        </li>
        {% empty %}
        <li class="list-group-item">No transactions found.</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col text-center">
      <a class="btn btn-primary" href="{% url 'transaction_create' account.slug %}" role="button">Send Money</a>
      <a class="btn btn-secondary" href="{% url 'logout' %}" role="button">Logout</a>
    </div>
  </div>
</div>
{% endblock %}
