{% extends "base.html" %}

{% block title %}IB{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Welcome to the Internet banking</h1>
        <p>Course information can be found <a href="https://maisportal.tuke.sk/portal/tlacPredmetuOSP.mais?predmetId=39742904&lang=sk">here</a></p>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'register' %}" class="btn btn-outline-primary btn-lg">Registration</a>
            </div>
        </div>
    </div>
{% endblock %}
