{% extends "base.html" %}

{% block content %}
    {% include "navbar.html" %}
<div class="container my-4">
    <div class="row mt-4">
        <div class="col">
            <h4 class="mt-5">
                        <span class="fw-bold">Transactions for account:</span>
                        {{ account.iban }}
            </h4>

            <form action="{% url "transaction_list" account.slug %}" method="GET" class="mb-4 mt-3 p-3">
                <div class="input-group w-50 ml-5">
                    <input type="text" name="q" class="form-control" placeholder="Search using amount or beneficiary">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>

            {% if grouped_transactions %}
                {% for transaction_date, transactions in grouped_transactions.items %}
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title">{{ transaction_date }}</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for transaction in transactions %}
                                    <li class="list-group-item
                                        {% if transaction.payer == account %}bg-danger text-white
                                        {% elif transaction.beneficiary == account %}bg-success text-white{% endif %}">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <h5 class="mb-0">{{ transaction.created }}</h5>
                                                {% if transaction.beneficiary == account %}
                                                    <p class="mb-0">{{ transaction.payer.iban }}</p>
                                                {% elif transaction.payer == account %}
                                                    <p class="mb-0">{{ transaction.beneficiary.iban }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-6 text-end">
                                                <h5 class="mb-0">{% if transaction.payer == account %}-{{ transaction.amount }}{% else %}{{ transaction.amount }}{% endif %} €</h5>
                                                {% if transaction.payer == account %}
                                                    <p class="mb-0 text-white">Sent</p>
                                                    <a href="{% url "duplicate_transaction" account.slug transaction.id %}" class="text-decoration-none text-white fw-bold">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                                          <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                                          <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                                                        </svg>
                                                        Duplicate payment
                                                    </a>
                                                {% elif transaction.beneficiary == account %}
                                                    <p class="mb-0 text-white">Received</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="text-center">No transactions found.</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
