{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Internet Banking{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1"></script>
        {% block meta_tags %}{% endblock %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
